= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  .row
    .columns.large-4.large-offset-4= devise_error_messages!
  .row
    .columns.large-4.large-offset-4
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true
  .row
    .columns.large-4.large-offset-4
      %div
        = f.label :password
        %br/
        = f.password_field :password
  .row
    .columns.large-4.large-offset-4
      %div
        = f.label :password_confirmation, "Password Confirmation"
        %br/
        = f.password_field :password_confirmation
  .row
    .columns.large-4.large-offset-4
      %div= f.submit "Sign up", :class => "button-blue w-full"
.row
  .columns.links.large-4.large-offset-4
    = render "devise/shared/links"
