= form_for(@mileage_record, :url => @mileage_record.persisted? ? mileage_record_path(@mileage_record) : mileage_records_path(@mileage_record)) do |f|
  - if @mileage_record.errors.any?
    #error_explanation
      %h2
        = pluralize(@mileage_record.errors.count, "Error")
        Were Found:
      %ul
        - @mileage_record.errors.full_messages.each do |msg|
          %li= msg
  - mileage_dates = (1.month.ago.to_date..Date.today).map{ |date| date.strftime("%A, %b-%d") }
  = select_tag :record_date, options_for_select(mileage_dates, mileage_dates.last)
  = text_field_tag :new_route_description, nil, placeholder: "Enter New Route"
  - select("mileage_record", "route_description", @routes, {include_blank: "Select Route"} )
  = f.number_field :start_mileage, :placeholder => "Enter Start Mileage"
  = f.number_field :end_mileage, :placeholder => "Enter End Mileage i.e. 34,269"
  .buttons
    .buttons-half
      = f.submit "SAVE", :class => "button button-blue"
    .buttons-half
      = link_to "NEW", new_mileage_record_path
