<%= form_for(@mileage_record) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <% if @mileage_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mileage_record.errors.count, "Error") %> Were Found:</h2>

          <ul>
          <% @mileage_record.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-5 large-centered columns date-select">
      <%= f.label :record_date, "Date" %><br>
      <%= f.date_select :record_date, order: [:day, :month, :year] %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns">
      <%= label_tag :new_route_description, "Enter New Route" %><br />
      <%= text_field_tag :new_route_description %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns text-center">
      - OR -
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns">
      <%= f.label :route_description, "Select Route" %><br>
      <%= select("mileage_record", "route_description", @routes, {include_blank: "Select Route"} )  %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns">
      <%= f.label :start_mileage, "Start Mileage" %><br>
      <%= f.number_field :start_mileage %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns">
      <%= f.label :end_mileage, "End Mileage" %><br>
      <%= f.number_field :end_mileage, :placeholder => "i.e. 34,269" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns">
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-5 large-centered columns">
      <% if current_page?(new_mileage_record_path) %>
        <%= f.submit "CREATE MILEAGE ENTRY", :class => "button-blue" %>
      <% else %>
        <%= f.submit "EDIT ENTRY", :class => "button button-blue" %>
      <% end %>
    </div>
  </div>
<% end %>
