- if @mileage_record.persisted?
  .row
    .small-12.columns
      %span.save-notice
        %span.label
          Last Saved:
        %span.time
          = @mileage_record.updated_at.strftime("%A %B #{@mileage_record.updated_at.day.ordinalize}")
  .row
    .small-12.columns
      %h3
        Current Entry
- else
  .row
    .small-12.columns
      %h3
        New Entry

.row
  .small-12.columns
    = form_for(@mileage_record, :url => @mileage_record.persisted? ? mileage_record_path(@mileage_record) : mileage_records_path(@mileage_record)) do |f|
      - if @mileage_record.errors.any?
        #error_explanation
          %h4
            Oops!
          %ul
            - @mileage_record.errors.full_messages.each do |msg|
              %li.error-message
                = msg
      .field        
        = f.select :record_date, options_for_select(@dates, Date.today)
      .field        
        = f.label :route_description, "Destination"
        - if @mileage_record.route_description
          = text_field_tag :new_route_description, @mileage_record.route_description
        - else
          = text_field_tag :new_route_description, nil, placeholder: "Enter New Route"
      .field        
        = label_tag 'mileage_record_route_description', "- Or Select Previous Route -", class: "tc"
        = select("mileage_record", "route_description", @routes, {include_blank: "Select Route"} )
      .row
        .small-6.columns
          .field        
            = f.label :start_mileage, "Start Mileage"
            = f.number_field :start_mileage, :placeholder => "Enter Start Mileage", :pattern => "[0-9]*"
        .small-6.columns
          .field        
            = f.label :end_mileage, "End Mileage"
            = f.number_field :end_mileage, :placeholder => "Enter End Mileage i.e. 34,269", :pattern => "[0-9]*"
      .row
        .buttons
          .small-6.columns
            = f.submit "Save", :class => "btn button button-blue save-button"
          .small-6.columns
            = link_to "New", new_mileage_record_path, class: "btn new-button"
