= render :partial => 'nav', locals: {:message => "DOWNLOAD MILEAGE DATA"}
.row
  .medium-8.medium-centered.large-6.large-centered.columns
    = form_tag("/download/month", method: "post") do
      = label_tag(:selected_month, "Select Month")
      .row
        .small-8.columns
          = select_month(Date.today)
        .small-4.columns
          = select_year(Date.today)
      = submit_tag("GET DATA", :class => "button")
.row
  .medium-8.medium-centered.large-6.large-centered.columns.text-center
    \- OR -
.row
  .medium-8.medium-centered.large-6.large-centered.columns
    = link_to "DOWNLOAD ALL DATA", mileage_records_path(:format => :xlsx), :class => "button download_all_button"
