.row
  .medium-8.medium-centered.large-6.large-centered.columns
    = form_tag("/download/month", method: "post") do
      = label_tag(:selected_month, "Select Month")
      .row
        .small-8.columns
          = select_month(Date.today)
        .small-4.columns
          = select_year(Date.today)
      = submit_tag("Download Excel File", :class => "btn button button-blue save-button")
.row
  .medium-8.medium-centered.large-6.large-centered.columns.text-center
    = label_tag 'download_all_data', " - OR -", class: 'tc'
.row
  .medium-8.medium-centered.large-6.large-centered.columns.buttons
    = link_to "Download All Data", mileage_records_path(:format => :xlsx), :class => "btn new-button download-all tc"
.row
  .medium-8.medium-centered.large-6.large-centered.columns
    = link_to "Home", root_path
