<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1 class="h1">MILEAGE RECORDS</h1>
    </li>
  </ul>
</nav>
<div class="row">
  <div class="small-12 columns m-20">
    <%= link_to 'New Mileage Record', new_mileage_record_path, :class => "button-blue w-full" %>
  </div>
</div>

<% @mileage_records.each do |mileage_record| %>
  <div class="row">
    <div class="small-12 columns">
      <div class="mileage-record">
        <div class="attribute-group date-field">
          <div class="attribute-label il">Date</div>
          <div class=""><%= mileage_record.record_date.strftime("%a - %m/%d") %></div>
        </div>
        <div class="attribute-group route-field">
          <div class="attribute-label il">Route</div>
          <div><%= mileage_record.route_description %></div>
        </div>
        <div class="attribute-group start-field">
          <div class="attribute-label il">Start Mileage</div>
          <div><%= mileage_record.start_mileage %></div>
        </div>
        <div class="attribute-group end-field">
          <div class="attribute-label il">End Mileage</div>
          <div><%= mileage_record.end_mileage %></div>
        </div>
        <div class="attribute-group notes-field">
          <div class="attribute-label il">Notes</div>
          <div><%= mileage_record.notes %></div>
        </div>
        <div class="attribute-group button-field">
          <div class="button-group even-2">
            <div class=""><%= link_to 'Edit', edit_mileage_record_path(mileage_record), :class => "edit-button" %></div>
            <div class=""><%= link_to 'Delete', mileage_record, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-button" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete, :class => "button-red w-full m-20", :placeholder => "button-red" %>
  </div>
</div>