<p id="notice"><%= notice %></p>

<p>
  <strong>Record date:</strong>
  <%= @mileage_record.record_date %>
</p>

<p>
  <strong>Start mileage:</strong>
  <%= @mileage_record.start_mileage %>
</p>

<p>
  <strong>End mileage:</strong>
  <%= @mileage_record.end_mileage %>
</p>

<p>
  <strong>Route description:</strong>
  <%= @mileage_record.route_description %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @mileage_record.distance %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @mileage_record.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @mileage_record.user %>
</p>

<%= link_to 'Edit', edit_mileage_record_path(@mileage_record) %> |
<%= link_to 'Back', mileage_records_path %>
