= render :partial => 'mileage_records/nav', locals: {:message => "LOGIN"}
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .columns.large-4.large-offset-4
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true
  .row
    .columns.large-4.large-offset-4
      %div
        = f.label :password
        %br/
        = f.password_field :password
  .row
    .columns.large-4.large-offset-4.remember-me
      - if devise_mapping.rememberable?
        %div= f.check_box :remember_me
        %div= f.label :remember_me, :class => "il"
  .row
    .columns.large-4.large-offset-4
      %div= f.submit "LOGIN", :class => "button button-blue radius w-full"
.row
  .columns.large-4.links.large-offset-4
    = render "devise/shared/links"
